/*this is an external css*/
h1{
	font-family: Tahoma;
	color: white ;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 2px 2px #D35400;
	text-align: center ;
}
p{
	text-indent: 35px;
}
span{
	text-decoration: underline;
	font-variant: small-caps;
}

body{
	background-color:#212F3C;
}
img{
	border-style: solid;
	border-color: black;
	float: right;
}
small{
	color: black;
}
